body {
  padding: 25px;
  background-color: #202020;
  color: white;
  font-size: 25px;
}

.image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

}
img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-bottom: 2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.card {
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.card h3 {
  margin: 0;
  font-size: 1.25rem;
  text-align: center;
}


a {
    color: white;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}


/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    max-height: 100px;
    align-items: right;
    justify-content: right;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.logo {
    max-width: 80px;
    max-height: 50px;
    align-items: left;
    justify-content: left;
}
